* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(68, 57, 141);
  font-family: "Poppins", sans-serif;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
/* -------------------------------- NAVBAR ------------------------------- */
.navbar {
  display: flex;
  justify-content: space-around;

  align-items: center;
  padding: 25px 70px;
  position: relative;
  z-index: 10;
  background: transparent;
}
.nav {
  width: 964px;
  height: 59px;
  vertical-align: middle;
}
li a:hover {
  background-color: white;
  border-radius: 40px;
  color: #2c1a73;
  padding: 10px;
  font-weight: bold;
}

.logo {
  width: 101px;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  vertical-align: middle;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
  border: 1px solid white;
  border-radius: 100px;
  padding: 20px 20px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right i {
  font-size: 20px;
}

.lang {
  padding: 14px 14px;
  border: 1px solid white;
  border-radius: 100px;
  font-size: 14px;
}
.fa-solid {
  padding: 14px 14px;
  border: 1px solid white;
  border-radius: 100px;
  font-size: 14px;
}
.hero {
height: 180vh;
  background-image: url(./pictures/Topographic\ 3.png);
 background-size: cover;
}

.about_blok h1{
    padding: 81px 0px 0px 170px;
    font-size: 32px;
}
.about_blok p{
    padding: 30px 0px 0px 170px;
    width: 1167px;
    height: 155px;
    font-size: 20px;
 
}
.about_blok img{
    margin: auto;
    padding: 121px 0px 0px 370px; 
   
}
.about_blok h2{
    padding: 81px 0px 0px 170px;
    font-size: 32px;
}
.footer {
  background:rgb(68, 57, 141);
  padding: 80px 0;
  color: #fff;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-logo img {
  width: 55px;
}

.footer-logo h3 {
  font-size: 18px;
  color: #ffb400;
}

.footer-desc {
  margin: 16px 0;
  font-size: 14px;
  line-height: 1.6;
}
.footer-desc h3{
  font-size: 16px;
  padding-bottom: 10px;
}
.footer-socials {
  display: flex;
  gap: 12px;
}

.footer-socials a {
  width: 36px;
  height: 36px;
    background: rgb(68, 57, 141);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #fff;
  transition: 0.3s;
}
 
.footer-socials a:hover {
  background: #ffb400;
  background: rgb(68, 57, 141);
}

.footer-col h4 {
  color: #ffb400;
  margin-bottom: 16px;
  font-size: 16px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-col ul li a:hover {
  color: #ffb400;
}

.footer-col p {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.5;
}
.footerdown{
 color: #ffb400;
 text-align: center;
padding: 35px;
}
.downfooter{
  padding: 6px;
}
.steps {
  padding: 80px 120px;
  background: rgb(68, 57, 141);
}

.steps-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.card {
  height: 299px;
  border-radius: 22px;
  padding: 28px;
  position: relative;

}

.card.yellow {
  background: #ffb81c;
  color: white;
}

.card.white {
 background: #ffb81c;
  color: white;
}

.card .num {
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  top: 20px;
  left: 24px;

}
.steps {
  padding: 80px 120px;
  background: rgb(68, 57, 141);
}

.steps-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.card {
  height: 299px;
  border-radius: 22px;
  padding: 28px;
  position: relative;

}

.card.yellow {
  background: #ffb81c;
  color: white;
}

.card.white {
 background: #ffb81c;
  color: white;
}

.card .num {
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  top: 20px;
  left: 24px;

}


.card h3 {
  margin-top: 120px;
  font-size: 20px;
  line-height: 1.3;
}

.card.white p {
  margin-top: 12px;
  font-size: 14px;
 
}


.steps-grid .card:nth-child(n + 5) {
  grid-column: span 1;
}
.card.white,.card.yellow:hover{
    cursor: pointer;
    background-color: white;
  color: rgb(68, 57, 141);
}
.group_1{
    padding:3px 0px 0px 123px ;
    font-size: 32px;
}
.group_2{
    padding:20px 0px 0px 123px ;
    font-size: 20px;
    width: 1149px;
}
.steps1 {
  padding: 80px 120px 200px;
  background: rgb(68, 57, 141);
}

.steps1-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.card1 {
  height: 299px;
  border-radius: 22px;
  padding: 28px;
  position: relative;

}

.card1.yellow {
  background: #ffb81c;
  color: white;
}

.card1.white {
 background: #ffb81c;
  color: white;
}

.card1 .num {
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  top: 20px;
  left: 24px;

}

.steps1-grid1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.card1 {
  height: 399px;
  border-radius: 22px;
  padding: 28px;
  position: relative;

}


