body {
  padding: 0;
  margin: 0;
  background: rgb(68, 57, 141);
  font-family: "Poppins", sans-serif;
  color: white;
}

/* -------------------------------- NAVBAR ------------------------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 70px;
  background: rgb(68, 57, 141);
  position: sticky;
  top: 0;
  z-index: 10;
  background-image: url("./pictures/Topographic\ 3.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 52% 550%;
}

.logo {
  color: rgb(68, 57, 141);
  width: 101px;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
  border: 1px solid white;
  border-radius: 100px;
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right i {
  font-size: 20px;
}

.lang {
  padding: 8px 14px;
  border: 1px solid white;
  border-radius: 50px;
  font-size: 14px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 120px;
  min-height: 80vh;

  background-image: url("./pictures/Topographic\ 3.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 52% 100%;
}

.hero-left {
  max-width: 480px;
}

.hero-left h1 {
  font-size: 80px;
  margin: 0;
  font-weight: 800;
}

.hero-left h2 {
  font-size: 52px;
  margin: 0 0 15px;
}

.hero-left p {
  opacity: 0.85;
  line-height: 1.6;
}

.hero-btn {
  padding: 14px 46px;

  font-size: 18px;
  border-radius: 40px;
  margin-top: 22px;
  cursor: pointer;
  filter: opacity(50%);
  border: 2px solid white;
}
.hero-btn:hover{
background-color: white;
color: black;
  filter: opacity(100%);
}
.socials {
  margin-top: 25px;
  display: flex;
  gap: 15px;
  font-size: 22px;
  color: white;
}
.socials:hover img{
    transition: all 2s;
    transform: scale(1.1);
}
.hero-right .image-box {
  width: 430px;
  height: 520px;
  border-radius: 35px;
  background: linear-gradient(135deg, #5d49c7, #2c1a73);
  box-shadow: 0 0 40px #0004;
}
/*skide*/
.slider-wrapper {
  width: 650px;
  position: relative;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slide {
  position: absolute;
  transition: 0.5s;
  opacity: 0.3;
  transform: scale(0.7);
  filter: blur(3px);
}

.slide img {
  width: 380px;
  height: 520px;
  object-fit: cover;
  border-radius: 28px;
}

.slide.active {
  opacity: 1;
  transform: scale(1);
  filter: none;
  z-index: 3;
}

.slide.left {
  transform: translateX(-230px) scale(0.8);
  opacity: 0.5;
}

.slide.right {
  transform: translateX(230px) scale(0.8);
  opacity: 0.5;
}

.dots {
  text-align: center;
  margin-top: 320px;
}
.dots:hover{
cursor: pointer;
}

.dots span {
    
  height: 10px;
  width: 10px;
  background: #bbb;
  display: inline-block;
  margin: 0 5px;
  border-radius: 50%;
}

.dots .active {
  background: white;
}


.slider-wrapper {
  width: 650px;
  height: 10px;
  position: relative;
}

.slide {
  position: absolute;
  transition: 0.6s ease;
  opacity: 0.25;
  transform: scale(0.65);
  filter: blur(4px);
}

.slide.left,
.slide.right {
  opacity: 0.55;
  filter: blur(2px);
}
