* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(68, 57, 141);
  font-family: "Poppins", sans-serif;
  color: white;
}

/* -------------------------------- NAVBAR ------------------------------- */
.navbar {
  display: flex;
  justify-content: space-around;

  align-items: center;
  padding: 25px 70px;
  position: relative;
  z-index: 10;
  background: transparent;
}
.nav {
  width: 964px;
  height: 59px;
  vertical-align: middle;
}
li a:hover {
  background-color: white;
  border-radius: 40px;
  color: #2c1a73;
  padding: 10px;
font-weight: bold;
}

.logo {

  width: 101px;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  vertical-align: middle;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
  border: 1px solid white;
  border-radius: 100px;
  padding: 20px 20px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right i {
  font-size: 20px;
}

.lang {
  padding: 14px 14px;
  border: 1px solid white;
  border-radius: 100px;
  font-size: 14px;
}
.fa-solid {
  padding: 14px 14px;
  border: 1px solid white;
  border-radius: 100px;
  font-size: 14px;
}
.hero {
  min-height: 100vh;
  background-image: url(./pictures/Topographic\ 3.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 55% 100%;
}

.hero-left {
  max-width: 480px;
}

.hero-left h1 {
  font-size: 80px;
  margin: 0;
  font-weight: 800;
}

.hero-left h2 {
  font-size: 52px;
  margin: 0 0 15px;
}

.hero-left p {
  opacity: 0.85;
  line-height: 1.6;
}

.hero-btn {
  padding: 14px 46px;
width: 197px;
height:48px ;
  font-size: 18px;
  border-radius: 40px;
  margin-top: 22px;
  cursor: pointer;
  filter: opacity(50%);
  border: 2px solid white;
}
.hero-btn:hover {
  background-color: white;
  color: black;
  filter: opacity(100%);
}
.socials {
  margin-top: 25px;
  display: flex;
  gap: 15px;
  font-size: 22px;
  color: white;
}
.socials:hover img {
  transition: all 2s;
  transform: scale(1.1);
}
.hero-right .image-box {
  width: 430px;
  height: 520px;

  border-radius: 35px;
  background: linear-gradient(135deg, #5d49c7, #2c1a73);
  box-shadow: 0 0 40px #0004;
}
/*skide*/
.slider-wrapper {
  width: 650px;
  position: relative;
  padding: 255px 0;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slide {
  position: absolute;
  transition: 0.5s;
  opacity: 0.3;
  transform: scale(0.7);
  filter: blur(3px);
}

.slide img {
  width: 380px;
  height: 520px;
  object-fit: cover;
  border-radius: 28px;
}

.slide.active {
  opacity: 1;
  transform: scale(1);
  filter: none;
  z-index: 3;
}

.slide.left {
  transform: translateX(-230px) scale(0.8);
  opacity: 0.5;
}

.slide.right {
  transform: translateX(230px) scale(0.8);
  opacity: 0.5;
}

.dots {
  text-align: center;
  margin-top: 320px;
}
.dots:hover {
  cursor: pointer;
}

.dots span {
  height: 10px;
  width: 10px;
  background: #bbb;
  display: inline-block;
  margin: 0 5px;
  border-radius: 50%;
}

.dots .active {
  background: rgba(249, 178, 30, 1);
}

.slider-wrapper {
  width: 650px;
  height: 10px;
  position: relative;
}

.slide {
  position: absolute;
  transition: 0.6s ease;
  opacity: 0.25;
  transform: scale(0.65);
  filter: blur(4px);
}

.slide.left,
.slide.right {
  opacity: 0.55;
  filter: blur(2px);
}
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 120px;
}
.border{
  border-top: 2px solid red;
}
.slide img {

  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}
.slider-wrapper:hover
{
  cursor: grab
};

.container{
  max-width: 1440px;

}
.about{

  
  font-weight: bold;
  font-size: 32PX;
  color: white;
  padding: 26px 0px 0px 126px;
   font-family: 'Times New Roman', Times, serif;
}
.about_p{

 font-family: 'Times New Roman', Times, serif;
  font-size: 32px;
  padding: 30px 147px 0px 126px;
}
.right_about{
  display: flex;
  justify-content: space-between;
  padding:20px  120px 0px 0px;
}
.hero-btn1 {
  padding: 14px 46px;

  font-size: 18px;
  border-radius: 40px;
  margin-top: 22px;
  cursor: pointer;
  filter: opacity(50%);
  border: 2px solid white;
  width: 197px;
height:48px ;
}
.hero-btn1:hover {
  background-color: white;
  color: black;
  filter: opacity(100%);
}
.about_blok{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.steps-section {
 
  padding: 35px;
  display: flex;
  align-items: center;
 width: 1240px;
 justify-content: space-around;
  overflow: hidden;
}

.steps-wrapper {
  display: flex;
  gap: 25px;
  transition: transform 0.6s ease;

}

.step {
  min-width: 260px;
  height: 340px;
  border-radius: 28px;
  padding: 25px;
  color: white;
  position: relative;
  flex-shrink: 0;
  
}

.step.yellow {
  background: #ffbe26;
  width: 258px; ;
height: 266px;
}

.step.white {
 background: #ffbe26;
color: white;
width: 258px; ;
height: 266px;
}

.step .num {
  font-size: 42px;
font-weight: 800;
}

.step h3 {
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.4;
}

.step p {
  margin-top: 15px;
  font-size: 14px;
  opacity: 0.9;
}

.arrow {
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 22px;
  width: 62px;
  height: 57px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #5d49c7;

}
.down_slide{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

