* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(68, 57, 141);
  font-family: "Poppins", sans-serif;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
/* -------------------------------- NAVBAR ------------------------------- */
.navbar {
  display: flex;
  justify-content: space-around;

  align-items: center;
  padding: 25px 70px;
  position: relative;
  z-index: 10;
  background: transparent;
}
.nav {
  width: 964px;
  height: 59px;
  vertical-align: middle;
}
li a:hover {
  background-color: white;
  border-radius: 40px;
  color: #2c1a73;
  padding: 10px;
  font-weight: bold;
}

.logo {
  width: 101px;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  vertical-align: middle;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
  border: 1px solid white;
  border-radius: 100px;
  padding: 20px 20px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right i {
  font-size: 20px;
}


body {
  font-family: sans-serif;
  background: #4b3fa3;
  color: #fff;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 120px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  opacity: 0.7;
}

nav a.active {
  opacity: 1;
  font-weight: bold;
}

/* PORTFOLIO */
.portfolio {
  padding: 40px 0;
}

.portfolio h1 {
  padding: 0 120px;
  font-size: 28px;
}

.portfolio p {
  padding: 10px 120px 20px;
  max-width: 800px;
}

/* CATEGORIES */
.categories {
  padding: 0 120px 30px;
  display: flex;
  gap: 20px;
}

.categories span {
  cursor: pointer;
  opacity: 0.7;
}

.categories .active {
  opacity: 1;
  font-weight: bold;
}

/* GRID — ՆԿԱՐԻ ՆՄԱՆ */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 0 10px;
}

.grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.portfolio-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; /* նույնը ինչ նկարում */
  padding: 0 10px;
}

.item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.portfolio-grid {
  column-count: 4;
  column-gap: 10px;
}

.item {
  break-inside: avoid;
  margin-bottom: 10px;
}
.filters {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}



@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .header,
  .portfolio h1,
  .portfolio p,
  .categories,
  .footer {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.footer {
  background:rgb(68, 57, 141);
  padding: 80px 0;
  color: #fff;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-logo img {
  width: 55px;
}

.footer-logo h3 {
  font-size: 18px;
  color: #ffb400;
}

.footer-desc {
  margin: 16px 0;
  font-size: 14px;
  line-height: 1.6;
}
.footer-desc h3{
  font-size: 16px;
  padding-bottom: 10px;
}
.footer-socials {
  display: flex;
  gap: 12px;
}

.footer-socials a {
  width: 36px;
  height: 36px;
    background: rgb(68, 57, 141);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #fff;
  transition: 0.3s;
}
 
.footer-socials a:hover {
  background: #ffb400;
  background: rgb(68, 57, 141);
}

.footer-col h4 {
  color: #ffb400;
  margin-bottom: 16px;
  font-size: 16px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-col ul li a:hover {
  color: #ffb400;
}

.footer-col p {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.5;
}
.footerdown{
 color: #ffb400;
 text-align: center;
padding: 35px;
}
.downfooter{
  padding: 6px;
}
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* default վիճակ */
.item {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}

/* թաքցված item */
.item.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* FILTERS */
.filters {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.filters button {
  background: transparent;
  border: none;
  color: rgba(255,255,255,0.5);
  font-size: 14px;
  cursor: pointer;
  padding-bottom: 4px;
}

.filters button.active {
  color: #fff;
  border-bottom: 2px solid #ffd400;
}
.filters button.active:hover{
  transition: all 2s;
   border-bottom: 2px solid #ffd400;
  
}
/* GRID */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.slot img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 15px;
}
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-auto-rows: 200px;
  gap: 10px;
  width: 1200px;
  justify-content: center;
  
}

/* Մեծ քարտեր */
.slot.a {
  grid-column: span 2;
  grid-row: span 2;
}
.slot.b {

  grid-row: span 3;
}
.slot.c {

  grid-row: span 3;
}


.slot.d {
  grid-column: span 2;
  grid-row: span 2;
}
.slot.e {
  grid-column: span 2;
  grid-row: span 2;
}

/* Միջին */

.slot.f {
  grid-column: span 2;
}

.slot.i {
  grid-column: span 2;
}
.slot.p {
  grid-column: span 2;
}

/* Փոքրերը default */

.slot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.slot img:hover{
  cursor: pointer;
transition: all 2s;
  transform: scale(1.1);

}
@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .burger {
    display: flex;
      z-index: 1001;
  }

  .navbar {
    padding: 15px 20px;
    justify-content: space-between;
  }
  .logo img {
    width: 70px;
    height: auto;
  }

  .nav-right {
    gap: 10px;
  }
  .hero-content {
    flex-direction: column;
    padding: 20px;
    gap: 30px;
  }

  .hero-left h1 {
    font-size: 42px;
  }

  .hero-left h2 {
    font-size: 32px;
  }

  .hero-left p {
    font-size: 14px;
  }

  .hero-btn {
    width: 100%;
  }
  .slider-wrapper {
    width: 100%;
    padding: 200px 0;
  }

  .slide img {
    width: 260px;
    height: 360px;
  }

  .slide.left {
    transform: translateX(-120px) scale(0.8);
  }

  .slide.right {
    transform: translateX(120px) scale(0.8);
  }
  .about_blok {
    flex-direction: column;
    padding: 20px;
  }

  .about {
    padding: 0;
    font-size: 24px;
  }

  .about_p {
    padding: 15px 0;
    font-size: 16px;
  }

  .right_about {
    padding: 0;
    justify-content: center;
  }
  .steps-section {
    width: 100%;
    padding: 20px;
  }
.function p{
width: 300px;
align-items: center;
}
  .step {
    min-width: 220px;
    height: 260px;
  }
  .gridbox {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    padding: 20px;
  }

  .box {
    grid-column: auto !important;
    grid-row: auto !important;
  }
  .services {
    flex-direction: column;
    width: 50%;
  }

  .service-item img {
    width: 100%;
    height: auto;
    padding: 0;
  }

.mobile-menu {
  z-index: 1000;
}
  .service-item_name,
  .service-item_logo,
  .service-item_brend,
  .service-item_pack,
  .service-item_bigbrend,
  .service-item_UI {
    position: static;
    padding: 10px 20px;
    font-size: 18px;
  }
  .forma {
    width: 100%;
    height: auto;
  }

  .formcall {
    padding: 20px;
  }

  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
